<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="/css/common.css" />
</head>
<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="서버의url" id="login-form">
            <input type="text" name="userName" placeholder="id">
            <input type="password" name="userPassword" placeholder="Password">
            <input type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>