<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginView</title>
    <link rel="stylesheet" href="/css/common.css" />
</head>
<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="/member/doLogin" id="login-form">
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
        <a href="/member/join"><input type="button" th:text="회원가입" id="doJoinBtn"></a>
    </div>
</body>
</html>